In [1]:
import pandas as pd

In [3]:
cities_df = pd.read_csv('Cities.csv')

In [5]:
cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,eatonton,1,US,1586908444,56,33.33,-83.39,73.99,4.70
1,1,lamu,90,KE,1586908444,85,-2.27,40.90,81.73,9.33
2,2,goderich,89,CA,1586908445,63,43.75,-81.72,37.99,15.61
3,3,menongue,6,AO,1586908446,56,-14.66,17.69,63.34,2.64
4,4,klaksvik,100,FO,1586908446,100,62.23,-6.59,44.60,20.80

In [9]:
datecorrect = cities_df["Date"]
datecorrect

0      1586908444
1      1586908444
2      1586908445
3      1586908446
4      1586908446
          ...
547    1586908727
548    1586908727
549    1586908728
550    1586908728
551    1586908729
Name: Date, Length: 552, dtype: int64

In [10]:
cities_df["Date"] = pd.to_datetime(cities_df["Date"], unit='s')

In [11]:
cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,eatonton,1,US,2020-04-14 23:54:04,56,33.33,-83.39,73.99,4.70
1,1,lamu,90,KE,2020-04-14 23:54:04,85,-2.27,40.90,81.73,9.33
2,2,goderich,89,CA,2020-04-14 23:54:05,63,43.75,-81.72,37.99,15.61
3,3,menongue,6,AO,2020-04-14 23:54:06,56,-14.66,17.69,63.34,2.64
4,4,klaksvik,100,FO,2020-04-14 23:54:06,100,62.23,-6.59,44.60,20.80

In [12]:
cities_df.to_html(buf='cities.html', index=False)

In [ ]:
# how to turn date into correct date time