In [1]:
import pandas as pd

In [3]:
cities_df = pd.read_csv('Cities.csv')

In [5]:
cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,eatonton,1,US,1586908444,56,33.33,-83.39,73.99,4.70
1,1,lamu,90,KE,1586908444,85,-2.27,40.90,81.73,9.33
2,2,goderich,89,CA,1586908445,63,43.75,-81.72,37.99,15.61
3,3,menongue,6,AO,1586908446,56,-14.66,17.69,63.34,2.64
4,4,klaksvik,100,FO,1586908446,100,62.23,-6.59,44.60,20.80

In [7]:
cities_df.to_html(buf='cities.html', index=False)